<div ng-controller="maintenanceModeDashboardController as vm">

    <umb-box>
        <umb-box-header title="Maintenance Mode"
                        description="Setup a placeholder page to respond to all requests while you
                    sort things out or make sure everything is OK before going live
                    with your site."></umb-box-header>
        <umb-box-content class="maintenanceMode-dashboard">
            <div ng-hide="vm.loaded">
                <umb-load-indicator></umb-load-indicator>
            </div>

            <div ng-show="vm.loaded">

                <div ng-if="vm.status.IsInMaintenanceMode"
                     class="alert alert-danger maintenanceMode-alert">
                    The site is currently in maintenance mode<br /> Visitors will
                    be seeing the in maintenance page for all pages.
                </div>

                <div ng-if="vm.status.IsContentFrozen"
                     class="alert alert-danger maintenanceMode-alert">
                    Content and Media updates on this site are currently frozen<br />
                    no one can save/update or delete content or media.
                </div>

                <div ng-if="!vm.status.UsingWebConfig" class="flex justify-center">
                    <div class="maintenanceMode-button">
                        <div ng-show="vm.status.IsInMaintenanceMode">
                            <umb-button action="vm.toggleMode()"
                                        type="button"
                                        button-style="success btn-large"
                                        state="vm.buttonState"
                                        shortcut="ctrl+c"
                                        label="Turn off maintenance mode"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                        <div ng-show="!vm.status.IsInMaintenanceMode">
                            <umb-button action="vm.toggleMode()"
                                        type="button"
                                        button-style="danger btn-large"
                                        state="vm.buttonState"
                                        shortcut="ctrl+c"
                                        label="Turn on maintenance mode"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                    </div>

                    <div class="maintenanceMode-button">
                        <div ng-show="vm.status.IsContentFrozen">
                            <umb-button action="vm.toggleFreeze()"
                                        type="button"
                                        button-style="action btn-large"
                                        state="vm.buttonState"
                                        shortcut="ctrl+c"
                                        label="Unfreeze Content"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                        <div ng-show="!vm.status.IsContentFrozen">
                            <umb-button action="vm.toggleFreeze()"
                                        type="button"
                                        button-style="danger btn-large"
                                        state="vm.buttonState"
                                        shortcut="ctrl+c"
                                        label="Freeze Content/Media"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                    </div>


                </div>
                <div ng-if="vm.status.UsingWebConfig">

                    <div class="maintenanceMode-warning">
                        Maintance Mode set in the web.config, so you cannot turn it on
                        or off via the dashboard.
                    </div>

                    <pre>
                    <code>
&lt;appSettings&gt;
    &lt;add key="MaintenanceMode" value="true" /&gt;
&lt;appSettings/&gt;

                </code>
            </pre>
                </div>
                <div class="maintenanceMode-options">

                    <div class="maintenanceMode-backoffice">
                        <input type="checkbox"
                               ng-checked="vm.status.Settings.AllowBackOfficeUsersThrough"
                               ng-model="vm.status.Settings.AllowBackOfficeUsersThrough"
                               id="maintenanceModeBackofficeUser"
                               no-Dirty-Check />
                        <label for="maintenanceModeBackofficeUser">
                            Let backoffice users still view the site
                        </label>
                    </div>

                    <div class="maintenanceMode-options-advanced">
                        <div class="accordion-heading">
                            <!--<a class="accordion-toggle"
                       data-toggle="collapse"
                       ng-click="vm.triggerAccordian()"
                       href="#maintanceModeAdvanced">
                    Advanced Options
                </a>-->
                            <umb-button action="vm.triggerAccordian()"
                                        type="button"
                                        button-style="action"
                                        state="vm.buttonState"
                                        label="Advanced Options"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                        <div class="accordion-body collapse"
                             id="maintanceModeAdvanced">
                            <div class="accordion-inner">
                                <div>
                                    Maintenance Template Name :
                                    <select ng-model="vm.status.Settings.TemplateName"
                                            ng-options="t for t in vm.templates" no-Dirty-Check></select>
                                </div>
                                <div class="maintenanceMode-warning">
                                    The template will be passed the model of the page,
                                    so if it interacts with the content it must work
                                    for all content types
                                </div>

                                <div>
                                    <label for="unfrozenUsers">Unfrozen user Ids:</label>
                                    <input type="text"
                                           ng-value="vm.status.Settings.UnfrozenUsers"
                                           ng-model="vm.status.Settings.UnfrozenUsers"
                                           id="unfrozenUsers"
                                           placeholder="Id of users not to freeze" />
                                </div>
                                <div class="maintenanceMode-warning">
                                    Any userIds that are specified here, won't be subject to the content freeze (maybe so background processes can still function)
                                </div>

                                <div class="maintenanceMode-options-advanced-button">
                                    <button class="btn btn-info"
                                            ng-click="vm.saveSettings()">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </umb-box-content>
    </umb-box>
</div>