<div ng-controller="maintenanceModeDashboardConbtroller as vm"
     class="maintenanceMode-dashboard">


    <div ng-hide="vm.loaded">
        <umb-load-indicator></umb-load-indicator>
    </div>

    <div ng-show="vm.loaded">

        <div ng-if="vm.status.IsInMaintenanceMode"
             class="alert alert-danger maintenanceMode-alert">
            The site is currently in maintenance mode<br/> Visitors will 
            be seeing the in maintenance page for all pages.
        </div>

        <div class="maintenanceMode-header">
            <i class="icon icon-wrench"></i>
            <h3>Maintenance Mode</h3>
        </div>

        <p>
            Setup a placeholder page to respond to all requests while you
            sort things out or make sure everything is OK before going live
            with your site.
        </p>

        <div ng-if="!vm.status.UsingWebConfig">
            <div class="maintenanceMode-button">
                <div ng-show="vm.status.IsInMaintenanceMode">
                    <umb-button action="vm.toggleMode()"
                                type="button"
                                button-style="success btn-large"
                                state="vm.buttonState"
                                shortcut="ctrl+c"
                                label="Turn off maintenance mode"
                                disabled="vm.buttonState === 'busy'">
                    </umb-button>
                </div>
                <div ng-show="!vm.status.IsInMaintenanceMode">
                    <umb-button action="vm.toggleMode()"
                                type="button"
                                button-style="danger btn-large"
                                state="vm.buttonState"
                                shortcut="ctrl+c"
                                label="Turn on maintenance mode"
                                disabled="vm.buttonState === 'busy'">
                    </umb-button>
                </div>
            </div>
        </div>
        <div ng-if="vm.status.UsingWebConfig">

            <div class="maintenanceMode-warning">
                Maintance Mode set in the web.config, so you cannot turn it on
                or off via the dashboard.
            </div>

            <pre>
                <code>
&lt;appSettings&gt;
    &lt;add key="MaintenanceMode" value="true" /&gt;
&lt;appSettings/&gt;

                </code>
            </pre>
        </div>
        <div class="maintenanceMode-options">

            <div class="maintenanceMode-backoffice">
                <input type="checkbox"
                       ng-checked="vm.status.Settings.AllowBackOfficeUsersThrough"
                       ng-model="vm.status.Settings.AllowBackOfficeUsersThrough"
                       id="maintenanceModeBackofficeUser" 
                        no-Dirty-Check/>
                <label for="maintenanceModeBackofficeUser">
                    Let backoffice users still view the site
                </label>
            </div>

            <div class="maintenanceMode-options-advanced">
                <div class="accordion-heading">
                    <a class="accordion-toggle"
                       data-toggle="collapse"
                       href="#maintanceModeAdvanced">
                        Advanced Options
                    </a>
                </div>
                <div class="accordion-body collapse"
                     id="maintanceModeAdvanced">
                    <div class="accordion-inner">
                        <div>
                            Maintenance Template Name : 
                            <select ng-model="vm.status.Settings.TemplateName"
                                    ng-options="t for t in vm.templates"  no-Dirty-Check></select>

                        </div>
                        <div class="maintenanceMode-warning">
                            The template will be passed the model of the page, 
                            so if it interacts with the content it must work
                            for all content types
                        </div>

                        <div class="maintenanceMode-options-advanced-button">
                            <button class="btn btn-info"
                                    ng-click="vm.saveSettings()">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <p>
                Maintenance Mode offers a simple way to turn your site on and off for maintenance, if you require
                some complex stuff (like IP address restrcitions) you should look at
                <a href="https://leekelleher.com/2009/09/29/putting-your-asp-net-web-application-in-maintenance-mode-using-isapi_rewrite/"
                   target="_blank">URL-Rewrite rules</a>.
            </p>

        </div>

    </div>

</div>