.maintenanceMode-dashboard {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}
.maintenanceMode-dashboard pre {
    text-align: left;
}


.maintenanceMode-alert {
    padding: 2em;
    font-size: 125%;
}

.maintenanceMode-header {
    padding: 2em 0;
}

.maintenanceMode-header h3 {
    font-weight:700;
    display: inline-block;
    font-size: 30pt;
}

.maintenanceMode-header i {
    display: inline-block;
    font-size: 30pt;
    padding-right: 0.2em;
}

.maintenanceMode-button {
    padding: 3em 0 1em;
    font-size: 120%;
}

.maintenanceMode-options {

}

.maintenanceMode-backoffice label {
    vertical-align: text-top;
    font-size: 12pt;
    padding-left: 5px;
    color: #777;
}

.maintenanceMode-options-advanced {
    max-width: 400px;
    margin: 2em auto;
    
}

    .maintenanceMode-options-advanced .accordion-body {
        background-color: #F5F5F5;
        text-align: left;
        border: 1px solid #eee;
        border-radius: 4px;
    }

.maintenanceMode-options-advanced-button {
    text-align: right;
}

.maintenanceMode-warning {
    color: red;
}