<div ng-controller="maintenanceModeDashboardController as vm">

    <umb-box>
        <umb-box-content class="maintenanceMode-dashboard">

            <div ng-hide="vm.loaded">
                <umb-load-indicator></umb-load-indicator>
            </div>

            <div ng-show="vm.loaded">

                <div ng-if="vm.status.IsInMaintenanceMode"
                     class="alert alert-danger maintenanceMode-alert">
                    <i class="icon icon-block"></i>
                    <div>
                        <localize key="maintain_onMsg"></localize>
                    </div>
                </div>

                <div ng-if="vm.status.IsContentFrozen"
                     class="alert alert-info maintenanceMode-alert">
                    <i class="icon icon-snow"></i>
                    <div>
                        <localize key="maintain_frozenMsg"></localize>
                    </div>
                </div>

                <div class="maintenanceMode-header">
                    <i class="icon icon-wrench"></i>
                    <h3><localize key="maintain_title"></localize></h3>
                </div>

                <localize key="maintain_intro"></localize>

                <div ng-if="!vm.status.UsingWebConfig" class="flex justify-center">
                    <div class="maintenanceMode-button">
                        <div ng-show="vm.status.IsInMaintenanceMode">
                            <umb-button action="vm.toggleMode()"
                                        type="button"
                                        button-style="success btn-large"
                                        state="vm.buttonState"
                                        label-key="maintain_btnModeOff"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                        <div ng-show="!vm.status.IsInMaintenanceMode">
                            <umb-button action="vm.toggleMode()"
                                        type="button"
                                        button-style="danger btn-large"
                                        state="vm.buttonState"
                                        label-key="maintain_btnModeOn"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                    </div>

                    <div class="maintenanceMode-button">
                        <div ng-show="vm.status.IsContentFrozen">
                            <umb-button action="vm.toggleFreeze()"
                                        type="button"
                                        button-style="action btn-large"
                                        state="vm.buttonState"
                                        label-key="maintain_btnFreezeOff"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                        <div ng-show="!vm.status.IsContentFrozen">
                            <umb-button action="vm.toggleFreeze()"
                                        type="button"
                                        button-style="danger btn-large"
                                        state="vm.buttonState"
                                        label-key="maintain_btnFreezeOn"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                    </div>


                </div>
                <div ng-if="vm.status.UsingWebConfig">

                    <div class="maintenanceMode-warning">
                        <localize key="maintain_webConfigWarn"></localize>
                    </div>
                    <pre>
                    <code>
&lt;appSettings&gt;
    &lt;add key="MaintenanceMode" value="true" /&gt;
&lt;appSettings/&gt;

                </code>
            </pre>
                </div>
                <div class="maintenanceMode-options">

                    <div class="maintenanceMode-backoffice">

                        <div class="flex justify-center">
                            <umb-toggle checked="vm.status.Settings.AllowBackOfficeUsersThrough"
                                        on-click="vm.status.Settings.AllowBackOfficeUsersThrough = !vm.status.Settings.AllowBackOfficeUsersThrough"
                                        show-labels="true"
                                        label-on="Allow backoffice users to view site"
                                        label-off="Allow backoffice users to view site"
                                        label-position="right">
                            </umb-toggle>
                        </div>
                    </div>

                    <div class="maintenanceMode-options-advanced">
                            <umb-button action="vm.openAdvanced()"
                                        type="button"
                                        button-style="link"
                                        state="vm.buttonState"
                                        label-key="maintain_btnAdvanced"
                                        disabled="vm.buttonState === 'busy'">
                            </umb-button>
                        </div>
                    </div>

                </div>

            </div>
        </umb-box-content>
    </umb-box>
</div>