<?xml version="1.0" encoding="utf-8"?>
<MaintenanceModeStatus xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsInMaintenanceMode>false</IsInMaintenanceMode>
  <UsingWebConfig>false</UsingWebConfig>
  <Settings>
    <AllowBackOfficeUsersThrough>true</AllowBackOfficeUsersThrough>
    <TemplateName>MaintenancePage</TemplateName>
    <UnfrozenUsers>-1</UnfrozenUsers>
  </Settings>
  <IsContentFrozen>false</IsContentFrozen>
</MaintenanceModeStatus>