<?xml version="1.0" encoding="utf-8"?>
<MaintenanceModeStatus xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IsInMaintenanceMode>true</IsInMaintenanceMode>
  <UsingWebConfig>false</UsingWebConfig>
  <Settings>
    <AllowBackOfficeUsersThrough>false</AllowBackOfficeUsersThrough>
    <TemplateName>MaintenancePage</TemplateName>
    <UnfrozenUsers>-1</UnfrozenUsers>
  </Settings>
  <IsContentFrozen>true</IsContentFrozen>
</MaintenanceModeStatus>